.home-container{
    display: flex;
    .all-movies{
        width: 75%;
        min-height: calc(100vh- 80px);
        border-right: 1px solid 

    }

    .popular-movies{
       width: 25%;

    }
}